/* modificando section 1 */
.header-elements-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  padding: 100px;
}
.header-element2{
  display: flex;
}